/* resets */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: grey;
    max-width: 100%;
}

button {
    background-color: transparent;
    border: none;
}

li {
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* header */

.upper-header {
    height: 70px;
    background-color: white;
    max-width: 100%;
}

.container-upper-header {
    line-height: 70px;
    width: 1000px;
}

.container {
    margin: 0 auto;
}

.logo-img {
    height: 50px;
    vertical-align: middle;
}

.page-title {
    display: inline;
    vertical-align: middle;
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* main */

.main-container {
    width: 800px;
    background-color: white;
    padding-left: 50px;
}

.addsect {
    margin-top: 35px;
    height: 55px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 15px;
}

.button {
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid #aaa;
    color: #aaa;
    padding: 3px 7px;
    border-radius: 5px;
}

.button:hover {
    background-color: #48acef;
    color: white;
}

.section-container {
    padding-top: 20px;
    margin-top: 3px;
    padding-bottom: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.section-title {
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.task-list {
    list-style-type: none;
    margin-top: 7px;
    margin-bottom: 7px;
}

.task-status {
    display: inline-block;
    border: 1px solid currentColor;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.task-item {
    line-height: 20px;
    padding: 5px 0;
}

.check {
    text-align: center;
    font-size: .7rem;
    color: green;
    border-color: green;
}

.cross {
    text-align: center;
    font-size: .7rem;
    color: red;
    border-color: red;
}

.section {
    margin-top: 20px;
}

.task-type {
    border: none;
    border-radius: 100px;
    font-size: .6rem;
    color: white;
    background-color: #40A8F1;
}